.h6 {
    text-align: center;
}

body{
    background-color: lightblue;

}
.card-body{
    background-color: cornflowerblue;
}
.card-body{
    background-color: white;
}
.background{
    background-color: rgb(218, 188, 245);
}